{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block title %}Menu Principal - Funcionário{% endblock %}

{% block content %}
<div class="container">'
    <center>
    <div class="custom-card">
        <div class="custom-header">
            <h1>Menu Principal - Funcionário</h1>
        </div>
        <div class="custom-body">
            <div class="image-container">
                <img src="{% static 'recrutamento.png' %}" class="img-fluid" alt="Menu Principal" width="200px">
            </div>
            
            <!-- Menu de Ações -->
            <div class="row justify-content-center mt-4">
                <div class="col-md-6 mb-3">
                    <a href="{% url 'user_menu_alias' %}" class="list-group-item list-group-item-action menu-item">
                        Gerenciar Usuários
                    </a>
                </div>
                <div class="col-md-6 mb-3">
                    <a href="{% url 'proc_menu_alias' %}" class="list-group-item list-group-item-action menu-item">
                        Gerenciar Procedimentos
                    </a>
                </div>
            </div>
            
            <div class="button-group">
                <a href="{% url 'index_alias' %}" class="btn btn-danger text-white">
                    Sair
                </a>
            </div>
        </div>
    </div>
    </center>
</div>
{% endblock %}