{% load static %}
{% load bootstrap5 %}
{% load render_table from django_tables2 %}
<!doctype html>
<html>

<head>
    <title>Menu de Procedimentos</title>
</head>

<body>
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <center>
                <h1>Menu de Procedimentos</h1>
                <img src="{% static 'pagina3.png' %}" class="img-fluid" alt="Teste" width="15%">
                <br><br>
                {% render_table table %}
                <br>
                <a href="{% url 'procedimento_create_alias' %}">
                    <input type="button" class="btn btn-primary" value="Incluir novo procedimento">
                </a>
                <br><br>
                <a href="{% url 'index_alias' %}" class="btn btn-secondary">Voltar</a>
            </center>
        </div>
    </div>
</body>

</html>