{% load static %}
{% load bootstrap5 %}
<!doctype html>
<html>

<head>
    <title>{% if form.instance.pk %}Editar Usuário{% else %}Criar Usuário{% endif %}</title>
</head>

<body>
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <center>
                <h1>{% if form.instance.pk %}Editar Usuário{% else %}Criar Usuário{% endif %}</h1>
                <img src="{% static 'pagina3.png' %}" class="img-fluid" alt="Teste" width="30%">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="row" style="line-height: 1;">
                            <div class="col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                {% bootstrap_field form.username placeholder='Usuário' %}
                            </div>
                        </div>

                        <div class="row" style="line-height: 1;">
                            <div class="col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                {% bootstrap_field form.first_name placeholder='Primeiro Nome' %}
                            </div>
                        </div>

                        <div class="row" style="line-height: 1;">
                            <div class="col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                {% bootstrap_field form.last_name placeholder='Sobrenome' %}
                            </div>
                        </div>

                        <div class="row" style="line-height: 1;">
                            <div class="col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                {% bootstrap_field form.email placeholder='Email' %}
                            </div>
                        </div>

                        <div class="row" style="line-height: 1;">
                            <div class="col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <a href="{% url 'user_menu_alias' %}" class="btn btn-secondary">Voltar</a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 text-right">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </center>
        </div>
    </div>
</body>

</html>
