{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% load render_table from django_tables2 %}

{% block title %}Gerenciar Usuários{% endblock %}

{% block content %}
<div class="container">
    <div class="custom-card">
        <Center>
        <div class="custom-header">
            <h1>Gerenciar Usuários</h1>
        </div>
        </Center>
        <div class="custom-body">
            <Center>
            <div class="image-container">
                <img src="{% static 'pagina3.png' %}" alt="Menu">
            </div>
            </Center> 
            <div class="table-responsive">
                {% render_table table %}
            </div>
            <div class="button-group">
                <a href="{% url 'user_create_alias' %}" class="btn btn-primary">
                    <i class="bi bi-person-plus"></i> Incluir Novo Usuário
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}