{% load static %}
{% load bootstrap5 %}
{% load render_table from django_tables2 %}
<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gerenciar Usuários</title>
    {% bootstrap_css %}
</head>

<body>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card shadow-lg rounded-3">
                    <div class="card-header bg-primary text-white text-center">
                        <h1 class="mb-0">Menu de Usuários</h1>  
                    </div>              
                    <div class="card-body">
                        <div class="text-center mb-4">
                            <img src="{% static 'pagina3.png' %}" class="img-fluid" alt="Menu" width="20%">
                        </div>
                        <div class="table-responsive">
                            <!-- Renderizando a tabela com os usuários -->
                            {% render_table table %}
                        </div>
                        <div>      
                            <!-- Botão para adicionar novo usuário -->
                            <a href="{% url 'user_create_alias' %}" class="btn btn-primary">
                                <i class="bi bi-person-plus"></i> Incluir Novo Usuário
                            </a> 
                        </div> 
                    </div>
               </div>
            </div>
        </div>
    </div>
    {% bootstrap_javascript %}
</body>

</html>