{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block title %}{% if form.instance.pk %}Editar Usuário{% else %}Criar Usuário{% endif %}{% endblock %}

{% block content %}
<div class="container">
    <div class="custom-card">
        <div class="custom-header">
            <center>
            <h1>{% if form.instance.pk %}Editar Usuário{% else %}Criar Usuário{% endif %}</h1>
        </div>
            </center>
        <div class="custom-body">
            <center>
            <div class="image-container">
                <img src="{% static 'users.png' %}" class="img-fluid my-4" alt="Usuário" width="200px">
            </div>
           </center>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="row">
                    <div class="col-md-12 mb-3">
                        {% bootstrap_field form.username placeholder='Usuário' %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        {% bootstrap_field form.first_name placeholder='Primeiro Nome' %}
                    </div>
                    <div class="col-md-6 mb-3">
                        {% bootstrap_field form.last_name placeholder='Sobrenome' %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        {% bootstrap_field form.email placeholder='Email' %}
                    </div>
                </div>

                <!-- Campo de senha para novo usuário -->
                {% if not form.instance.pk %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {% bootstrap_field form.password1 placeholder='Senha' %}
                    </div>
                    <div class="col-md-6 mb-3">
                        {% bootstrap_field form.password2 placeholder='Confirme a Senha' %}
                    </div>
                </div>
                {% endif %}

                <div class="row mt-4">
                    <div class="col-md-6">
                        <a href="{% url 'user_menu_alias' %}" class="btn btn-secondary btn-block">Voltar</a>
                    </div>
                    <div class="col-md-6 text-end">
                        <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}